/*.white_content {*/
    /*display: none;*/
    /*position: absolute;*/
    /*!*top: 25%;*!*/
    /*left: 25%;*/
    /*width: 40%;*/
    /*padding: 60px 120px;*/
    /*background-color: white;*/
    /*z-index:1002;*/
    /*overflow: auto;*/
/*}*/
/*.black_overlay {*/
    /*display: none;*/
    /*position: absolute;*/
    /*top: 0%;*/
    /*left: 0%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: black;*/
    /*z-index:1001;*/
    /*-moz-opacity: 0.8;*/
    /*opacity:.80;*/
    /*filter: alpha(opacity=88);*/
/*}*/
/*.close {*/
    /*float:right;*/
    /*clear:both;*/
    /*!*width:20%;*!*/
    /*text-align:right;*/
/*}*/
/*.labelcontrol{*/
    /*padding-right:10px;*/
    /*float: left;*/
    /*min-height: 1px;*/
    /*width: 20%;*/
    /*text-align: right;*/
    /*margin:8px 0px 0px 0px;*/
/*}*/
/*.Inputcontrol{*/
    /*padding-right:10px;*/
    /*min-height: 1px;*/
    /*width: 20%;*/
    /*margin:10px 0px 0px 0px;*/
    /*height: 20px;*/
/*}*/
/*.pagination {*/
    /*display: inline-block;*/
    /*margin-right: 8px;*/
    /*font-size: 12px;*/
    /*cursor: pointer;*/
    /*border-radius: 4px;*/
    /*user-select: none;*/
    /*min-width: 28px;*/
    /*height: 28px;*/
    /*line-height: 28px;*/
    /*text-align: center;*/
    /*list-style: none;*/
    /*vertical-align: middle;*/
    /*border: 1px solid #d9d9d9;*/
    /*background-color: transparent;*/
    /*outline: 0;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*list-style: none;*/
/*}*/
/*.pagination_div{*/
    /*margin-bottom: 20px!important;*/
    /*text-align: center!important;*/
/*}*/
/*.pagination-item-active*/
/*{*/
    /*background-color: #3187f6;*/
    /*border-color: #3187f6;*/
/*}*/

/*.layout {*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*font-size: 16px!important;*/
    /*line-height: 24px;*/
    /*display: block;*/
    /*clear: both;*/
    /*content: "";*/
    /*top: 64px;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 219px;*/
    /*overflow: auto;*/
    /*transition: left .4s ease;*/
/*}*/
/*.layout .layout-header {*/
    /*position: fixed;*/
    /*z-index: 1220;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 64px;*/
    /*color: #fff;*/
    /*background: #2f3542;*/
    /*min-width: 600px;*/
    /*box-shadow: 0 2px 4px 0 rgba(0,0,0,.11);*/
    /*font-size: 0;*/
    /*vertical-align: top;*/
/*}*/
/*.layout-header-product-name{*/
    /*display: inline-block;*/
    /*line-height: 64px;*/
    /*vertical-align: top;*/
    /*font-size: 20px;*/
    /*padding-left:30px;*/
/*}*/
/*.layout-header-logo{display: inline-block;*/
    /*line-height: 64px;*/
    /*vertical-align: top;*/
    /*font-size: 20px;}*/
/*.layout-aside {*/
    /*position: fixed;*/
    /*z-index: 1210;*/
    /*left: 0;*/
    /*top: 64px;*/
    /*bottom: 0;*/
    /*width: 219px;*/
    /*background: #2f3542;*/
    /*transform-origin: 0 0;*/
    /*transition: transform .4s ease;*/
    /*transform: translateZ(0);*/
    /*font-size: 14px!important;*/
    /*line-height: 22px*/
/*}*/
/*.menu{*/
    /*display: block;*/
    /*list-style-type: disc;*/
    /*-webkit-margin-before: 1em;*/
    /*-webkit-margin-after: 1em;*/
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    /*-webkit-padding-start: 40px;*/
    /*color: #fff;*/
    /*padding-left: 20px;*/
    /*line-height: 24px;*/
/*}*/
/*.menu-title {*/
    /*font-size: 20px;*/
    /*color: #FF0000;*/
    /*padding-left: 20px;*/
    /*line-height: 24px;*/
/*}*/
/*.layout-main {*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*padding: 20px;*/
    /*min-width: 1047px;*/
    /*background-color: #fff;*/
    /*border: 1px solid #d9d9d9;*/
    /*margin-bottom: 20px;*/
    /*border-radius: 2px;*/
/*}*/
/*.layout-body {*/
    /*!*position: absolute;*!*/
    /*top: 64px;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 219px;*/
    /*overflow: auto;*/
    /*transition: left .4s ease;*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*padding: 20px;*/
    /*min-width: 1047px;*/
/*}*/


/*.section {*/
    /*background-color: #fff;*/
    /*border: 1px solid #d9d9d9;*/
    /*margin-bottom: 20px;*/
    /*border-radius: 2px;*/
/*}*/

.tablesql {
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff;
    border-color: grey;
    text-align: center;
    margin:0 auto;
    font-size: 14px;
}
th,tr,td{
    padding:10px;
    font-size: 16px;

}
.tablehead{
    font-weight: bold;
    font-size: 16px;

}
.btn-link {
    color: #3187e6;
    border-radius: 0;
    min-width: 0;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    text-transform: none;
}
.pagination_div{
    margin-bottom: 20px!important;
    text-align: center!important;
}
.pagination-item-active
{
    background-color: #3187f6;
    border-color: #3187f6;
}
.pagination {
    display: inline-block;
    margin-right: 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    vertical-align: middle;
    border: 1px solid #d9d9d9;
    background-color: transparent;
    outline: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}
.pagination_div{
    margin-top:20px;
    margin-bottom: 20px!important;
    text-align: center!important;
}
.pagination-item-active
{
    background-color: #3187f6;
    border-color: #3187f6;
}
.m-head{
    min-width: 1140px;
    height: 80px;
    line-height: 80px;
    background: #2F3542;
    color: #fff;
}
.m-nav{
    max-width:1140px;
    margin: 0 auto;
    overflow: hidden;
}
.m-logo{
    float: left;
}
.m-logo img{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.m-menu{
    float: right;
}
.m-menu li{
    float: left;
    padding-left: 20px;
}
.m-menu li a{
    color: #fff;
    font-size:24px;
}
.m-section{
    width: 1140px;
    margin: 0 auto;
    padding: 80px 0 100px 0;
}
.m-title{
    text-align: center;
    font-size: 30px;
    color: #806a3f;
    padding-bottom: 20px;
}
.m-foot{
    min-width: 840px;
    padding: 40px 150px 30px;
    background: #f4f0ea;
}
.m-list li a{
    color: #333;
}
.m-list li cprt{
    text-align: center;
}
.f-no-padding{
    padding-top: 0 !important;
}
.white_content {
    display: none;
    position: absolute;
    /*top: 25%;*/
    left: 25%;
    width: 40%;
    padding: 60px 120px;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=88);
}
.close {
    float:right;
    clear:both;
    /*width:20%;*/
    text-align:right;
}
.labelcontrol{
    padding-right:10px;
    float: left;
    min-height: 1px;
    width: 20%;
    text-align: right;
    margin:8px 0px 0px 0px;
}
.Inputcontrol{
    padding-right:10px;
    min-height: 1px;
    width: 20%;
    margin:10px 0px 0px 0px;
    height: 20px;
}
/**/

.sidebar {
    position: absolute;
    left: 0; top: 72px; bottom: 0;
    width: 178px;
}

.top {
    position: absolute;
    left: 0; right: 0;
    height: 72px;
}
.nav {
    list-style: none;
    position: absolute;
    left: 0;right: 0;
    padding: 0;
    height: 100%;
    background: #2F3542;
}
.nava{
    color: #aaaaaa;
    font-weight: bold;
    color: #000
}
.navli {
    border: solid 1px;
    padding: 5px 0 5px 0;
    border-bottom-width: 0px;
}