<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lynhaw.g4test.mybatis.mapper.ServerMapper">
    <select id="selectInfobyname" resultType="com.lynhaw.g4test.mybatis.beans.ServerBeans" parameterType="string">
        SELECT * from TB_YX_GOTEST_SERVER_INFO WHERE serverName LIKE '%${serverNameInfo}%'
    </select>
    <select id="findsyscount" resultType="java.lang.Integer">
        select count(1) from TB_YX_GOTEST_SERVER_INFO
    </select>
    <select id="findUpdateTime" resultType="java.lang.Long">
        select updateTime from TB_YX_GOTEST_SERVER_INFO where id=#{id}
    </select>
    <select id="selectInfolimit" resultType="com.lynhaw.g4test.mybatis.beans.ServerBeans">
        SELECT * FROM TB_YX_GOTEST_SERVER_INFO limit #{limitStart},#{limitEnd}
    </select>
    <select id="selectInfobytaskId" resultType="com.lynhaw.g4test.mybatis.beans.ServerBeans">
        SELECT * FROM TB_YX_GOTEST_SERVER_INFO WHERE taskId = '${taskId}'
    </select>
    <update id="updateInfoBytaskId" parameterType="string">
        UPDATE TB_YX_GOTEST_SERVER_INFO SET taskId = '${taskId}',sysBranch = '${sysBranch}',isNeed=#{Need} WHERE id=#{id}
    </update>
    <update id="updateInfo" parameterType="com.lynhaw.g4test.mybatis.beans.ServerBeans">
        UPDATE TB_YX_GOTEST_SERVER_INFO SET serverName = '${serverName}',addressees='${addressees}' WHERE id=#{id}
    </update>
    <update id="updateCallBackTime" parameterType="com.lynhaw.g4test.mybatis.beans.ServerBeans">
        UPDATE TB_YX_GOTEST_SERVER_INFO SET updateTime = '${updateTime}' WHERE taskId = '${taskId}' and id>0
    </update>
    <update id="updateCallBackStatus" parameterType="com.lynhaw.g4test.mybatis.beans.ServerBeans">
        UPDATE TB_YX_GOTEST_SERVER_INFO SET callback = '${callback}' WHERE taskId = '${taskId}' and id>0
    </update>
    <update id="updateCommitInfo" parameterType="com.lynhaw.g4test.mybatis.beans.ServerBeans">
        UPDATE TB_YX_GOTEST_SERVER_INFO SET commitInfo = '${commitInfo}' WHERE taskId = '${taskId}' and id>0
    </update>
    <delete id="deleteInfo" parameterType="java.lang.Long">
        DELETE FROM TB_YX_GOTEST_SERVER_INFO WHERE id=#{id}
    </delete>
    <insert id="insertSysInfo" parameterType="com.lynhaw.g4test.mybatis.beans.ServerBeans">
        INSERT INTO TB_YX_GOTEST_SERVER_INFO (serverName,taskId,addressees) values (#{serverName,jdbcType=VARCHAR},#{taskId,jdbcType=VARCHAR},#{addressees,jdbcType=VARCHAR})
    </insert>
</mapper>